#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding: 0px;
}
.Month {
  margin-bottom: 20px;
}

.calendar {
  background: #ffffff;
  color: #000000;
  width: 360px;
  padding: 1rem;
  padding-top: 2rem;
  border-radius: 3%;
  border: solid 15px #2acf7d;
}
.calendar ul.date {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.daysArray {
  display: flex;
  justify-content: space-around;
  padding-bottom: 0.2rem;
  background-color: transparent;
  border-radius: 10px;
  width: 300px;
}
.days {
  background-color: #2acf7d;
  color: white;
  border-radius: 50%;
  font-size: 0.8em;
  width: 60px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.days:first-child {
  background-color: crimson;
}
.days:last-child {
  background-color: royalblue;
}

.calendar ul.date li {
  border: 0.1px solid #2acf7d;
  padding: 0.5em; /*반칸*/
  color: #2acf7d;
}

.calendar header {
  display: flex;
  justify-content: center;
}
.calendar header h2 {
  line-height: 40px;
  margin: 0;
  font-size: 40px;
  margin-right: 1rem;
}
/* App.css */
.prev,
.next {
  background-color: #2acf7d;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
  /* margin-right: 110px; /* 오른쪽 여백 설정 */
  /* margin-left: 110px; 왼쪽 여백 설정 */
  /* margin-top: 30px;  */
}
.Date-march {
  color: #2acf7d;
}
.title {
  display: flex; /*특정 요소에 적용하면 해당 요소의 자식 요소들에 대해 Flexbox 레이아웃이 적용 행 또는 열로 배치하는 방법*/
  justify-content: center; /* Flexbox 레이아웃에서 Flex 컨테이너의 주축(main axis) 방향에 있는 아이템들을 가운데로 정렬*/
  gap: 10px; /* Flexbox 컨테이너의 아이템들 사이에 30픽셀의 간격이 생깁*/
  color: #2acf7d;
  align-items: center; /*는 Flexbox 레이아웃에서 Flex 컨테이너의 교차축(cross axis) 방향에 있는 아이템들을 가운데로 정렬*/
}
.prev {
  order: 1; /*배치하고싶은순서*/
}
.next {
  order: 3; /*배치하고싶은순서*/
}
.Date-march {
  order: 2; /*배치하고싶은순서*/
}

.container1 {
  border: solid 1px #2acf7d;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}
.schedule {
  color: #ffffff;
  border: none;
  background-color: #2acf7d;
  border-radius: 5px;
  padding: 10px 20px; /* 버튼 내부 여백 조정 */
  font-size: 16px; /* 버튼 텍스트 크기 조정 */
  cursor: pointer; /*손가락 표시   */
}

.delete-btn {
  color: #ffffff;
  border: none;
  cursor: pointer;
  background-color: #2acf7d;
  border-radius: 5px;
  margin-bottom: 5px;
  transform: translateY(3px);
}

.date li {
  display: flex;
  flex-direction: column;
  height: 49px;
  justify-content: center;
  cursor: pointer;
}
.events-list {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.events-list-div {
  display: flex;
  gap: 8px;
  align-items: center;
}
.Date-march span {
  font-size: 25px;
}
